body{
   background: #000232;

}


.font-weight{
    font-size:XX-Large;font-weight:bold;
}

/* 

@media (max-width: 1280px) {
    #font-text {
font-size: 10px;
}
   #font-text-1{
font-size: 10px;
}
   #btn-color{
width: 50px;
height: 30px;
font-size: 9px;

   }
   
  #btn-left{
   position: relative;
right: 65px;
   top: 40px;}
  } */

  #btn-color{
    z-index: 5px;
    background-color: #00ef73;
    color: #000;
    border: 0px;
    position: relative;
    right: 4px;
  }

  .ll{
   z-index: 5px;
    position: relative;
left: 10px;
   bottom: 35px;
   
    height: 35px;
 

  }

  #last-box{
   z-index: 5px;
   margin: 5px;
   border: 2px solid #fff;
   padding-left: 5px;
   padding-right: 5px;
   color: #fff;
  }
  span a b{
   color: #fff;
  }
  
  #font-text-1{
   color: #fff;
  }
 #text-1{
   color: #fff;
 }

 #font-text{
   color: #fff;
 }

 @media (max-width: 375px) {
   #font-text-1 {
overflow: scroll;
}}